<div class="min-h-screen bg-[#090E13] text-white">

  <!-- TOPBAR -->

  <header class="border-b border-[#1F2937] bg-[#0C1118]/90 backdrop-blur sticky top-0 z-40">

    <div class="max-w-[1700px] mx-auto px-4 lg:px-8 h-16 flex items-center justify-between">

      <div class="flex items-center gap-3">

        <div class="w-10 h-10 rounded-xl bg-[#00FF9D] text-black flex items-center justify-center font-black">
          F
        </div>

        <div>
          <div class="font-bold tracking-wide">
            XAcademy Challenge - FIFA Players
          </div>

          <div class="text-xs text-gray-400">
            Player Analytics
          </div>
        </div>


      </div>

      <!-- SEARCH -->

      <div class="hidden md:flex items-center w-[420px]">

        <input [(ngModel)]="search" (input)="onSearch()" placeholder="Search player..."
          class="w-full rounded-2xl bg-[#131B25] border border-[#253041] px-4 py-2 outline-none focus:border-[#00FF9D]" />

      </div>

      <!-- MOBILE FILTER BTN -->

      <button class="lg:hidden px-4 py-2 rounded-xl bg-[#131B25]" (click)="mobileFilters = !mobileFilters">
        Filters
      </button>

    </div>

  </header>

  <!-- CONTENT -->

  <div class="max-w-[1700px] mx-auto px-4 lg:px-8 py-6">

    <div class="flex gap-6 relative">

      <!-- MOBILE OVERLAY -->

      <div *ngIf="mobileFilters" class="fixed inset-0 bg-black/50 z-40 lg:hidden" (click)="mobileFilters=false"></div>

      <!-- SIDEBAR -->

      <aside class="
          fixed lg:sticky
          top-0 lg:top-6
          left-0
          z-50 lg:z-10
          h-screen lg:h-fit
          w-[280px]
          bg-[#111827]
          border-r lg:border
          border-[#1F2937]
          lg:rounded-3xl
          p-6
          transition-transform duration-300
          lg:translate-x-0
        " [class.translate-x-0]="mobileFilters" [class.-translate-x-full]="!mobileFilters">

        <!-- MOBILE HEADER -->

        <div class="flex justify-between items-center mb-6 lg:hidden">

          <h2 class="font-bold">
            Filters
          </h2>

          <button (click)="mobileFilters=false">
            ✕
          </button>

        </div>

        <!-- POSITION -->

        <div class="mb-8">

          <h3 class="text-sm text-gray-400 mb-3">
            Position
          </h3>

          <div class="flex flex-wrap gap-2">

            <button *ngFor="let pos of positions" (click)="togglePosition(pos)"
              class="px-3 py-2 rounded-xl text-sm transition" [ngClass]="selectedPositions.includes(pos)
                ? 'bg-[#00FF9D] text-black font-semibold'
                : 'bg-[#1A222E] text-gray-300'">
              {{ pos }}
            </button>

          </div>

        </div>

        <!-- CLUB -->

        <div class="mb-8">

          <h3 class="text-sm text-gray-400 mb-3">
            Club
          </h3>

          <select [(ngModel)]="selectedClub" (ngModelChange)="selectClub($event)"
            class="w-full rounded-2xl bg-[#1A222E] border border-[#263241] px-4 py-3 outline-none">

            <option value="">
              Todos los clubes
            </option>

            <option *ngFor="let c of clubs" [value]="c.external_id">
              {{ c.name }}
            </option>

          </select>

        </div>

        <!-- FIFA VERSION -->

        <div class="mb-8">

          <h3 class="text-sm text-gray-400 mb-3">
            FIFA Version
          </h3>

          <div class="flex flex-wrap gap-2">

            <button *ngFor="let v of fifaVersions" (click)="selectFifa(v.id.toString())"
              class="px-4 py-2 rounded-xl text-sm transition" [ngClass]="
              selectedFifa === v.id.toString()
                ? 'bg-[#00FF9D] text-black font-semibold'
                : 'bg-[#1A222E] text-gray-300'
            ">
              FIFA {{ v.version_number }}
            </button>

          </div>

        </div>

        <!-- GENDER -->

        <div>

          <h3 class="text-sm text-gray-400 mb-3">
            Gender
          </h3>

          <div class="flex bg-[#1A222E] rounded-2xl p-1">

            <div class="space-y-2">

              <button (click)="gender='all'; loadPlayers()" [ngClass]="gender==='all'
      ? 'bg-[#00FF9D] text-black'
      : 'bg-[#1A222E]'" class="px-4 py-2 rounded-xl text-sm">
                Ambos
              </button>

              <button (click)="gender='male'; loadPlayers()" [ngClass]="gender==='male'
      ? 'bg-[#00FF9D] text-black'
      : 'bg-[#1A222E]'" class="px-4 py-2 rounded-xl text-sm">
                Varón
              </button>

              <button (click)="gender='female'; loadPlayers()" [ngClass]="gender==='female'
      ? 'bg-[#00FF9D] text-black'
      : 'bg-[#1A222E]'" class="px-4 py-2 rounded-xl text-sm">
                Mujer
              </button>

            </div>

          </div>

        </div>

      </aside>

      <!-- MAIN -->

      <main class="flex-1 min-w-0 lg:ml-0">

        <div class="bg-[#111827] border border-[#1F2937] rounded-3xl overflow-hidden shadow-2xl">

          <div
            class="px-6 py-5 border-b border-[#1F2937] flex flex-col md:flex-row md:justify-between md:items-center gap-4">

            <div>
              <h2 class="text-2xl font-bold">
                FIFA Players
              </h2>

              <p class="text-gray-400 text-sm">
                {{ total }} players found
              </p>
            </div>

            <!-- <input [(ngModel)]="search" (keyup.enter)="loadPlayers()" placeholder="Search player..."
              class="bg-[#1A222E] rounded-2xl px-4 py-3 outline-none border border-[#263241] w-full md:w-72" /> -->

          </div>

          <div class="overflow-x-auto">

            <table class="w-full min-w-[900px]">

              <thead class="bg-[#0D141E] text-xs uppercase text-gray-400">

                <tr>

                  <th class="px-5 py-4 text-left">
                    Player
                  </th>

                  <th class="px-5 py-4 text-left">
                    Club
                  </th>

                  <th class="px-5 py-4 text-center">
                    Pos
                  </th>

                  <th class="px-5 py-4 text-center">
                    Age
                  </th>

                  <th class="px-5 py-4 text-center">
                    OVR
                  </th>

                  <th class="px-5 py-4 text-center">
                    POT
                  </th>

                  <th class="px-5 py-4 text-right">
                    Value
                  </th>

                </tr>

              </thead>

              <tbody>

                <tr *ngFor="let p of players"
                  class="border-t border-[#1F2937] hover:bg-[#131B25] transition duration-200">

                  <td class="px-5 py-4">

                    <div class="flex items-center gap-4">

                      <img [src]="p.image || 'https://placehold.co/80'"
                        class="w-14 h-14 rounded-2xl object-cover border border-[#2A3442]" />

                      <div>
                        <div class="font-semibold text-white">
                          {{ p.name }}
                        </div>

                        <div class="text-xs text-gray-400">
                          {{ p.genero }}
                        </div>
                      </div>

                    </div>

                  </td>

                  <td class="px-5 py-4 text-gray-300">
                    {{ p.club }}
                  </td>

                  <td class="px-5 py-4 text-center">

                    <span class="bg-[#1A222E] px-3 py-1 rounded-xl text-xs">
                      {{ p.player_positions }}
                    </span>

                  </td>

                  <td class="px-5 py-4 text-center">
                    {{ p.age }}
                  </td>

                  <td class="px-5 py-4 text-center">

                    <span class="bg-[#00FF9D] text-black font-bold px-3 py-1 rounded-xl">
                      {{ p.overall }}
                    </span>

                  </td>

                  <td class="px-5 py-4 text-center text-cyan-300">
                    {{ p.potential }}
                  </td>

                  <td class="px-5 py-4 text-right text-green-400 font-medium">
                    € {{ p.value_eur | number }}
                  </td>

                </tr>

                <tr *ngIf="loading">
                  <td colspan="7" class="text-center py-10 text-gray-400">
                    Loading players...
                  </td>
                </tr>

              </tbody>

            </table>

          </div>

          <div class="px-5 py-4 border-t border-[#1F2937]
         flex flex-col md:flex-row
         items-center justify-between gap-4">

            <!-- RESULTS -->

            <div class="text-sm text-gray-400">

              Mostrando desde
              <span class="text-white font-medium">
                {{ startItem }}
              </span>

              al

              <span class="text-white font-medium">
                {{ endItem }}
              </span>

              de

              <span class="text-[#00FF9D] font-semibold">
                {{ totalPlayers }}
              </span>

              jugadores

            </div>

            <!-- PAGINATION -->

            <div class="flex items-center gap-2 flex-wrap justify-center">

              <!-- PREV -->

              <button (click)="prevPage()" [disabled]="page === 0" class="px-4 py-2 rounded-2xl transition
      bg-[#1A222E]
      disabled:opacity-40
      disabled:cursor-not-allowed
      hover:bg-[#243041]">
                Anterior
              </button>

              <!-- FIRST -->

              <button *ngIf="visiblePages[0] > 1" (click)="goToPage(0)" class="w-10 h-10 rounded-xl bg-[#1A222E]">
                1
              </button>

              <span *ngIf="visiblePages[0] > 2" class="px-1 text-gray-500">
                ...
              </span>

              <!-- PAGES -->

              <button *ngFor="
        let p of visiblePages
      " (click)="goToPage(p - 1)" class="w-10 h-10 rounded-xl
             text-sm transition" [ngClass]="
        currentPage === p
          ? 'bg-[#00FF9D] text-black font-bold shadow-lg shadow-[#00FF9D]/20'
          : 'bg-[#1A222E] hover:bg-[#243041]'
      ">
                {{ p }}
              </button>

              <!-- LAST -->

              <span *ngIf="
        visiblePages[
          visiblePages.length - 1
        ] < totalPages - 1
      " class="px-1 text-gray-500">
                ...
              </span>

              <button *ngIf="
        visiblePages[
          visiblePages.length - 1
        ] < totalPages
      " (click)="goToPage(totalPages - 1)" class="w-10 h-10 rounded-xl bg-[#1A222E]">
                {{ totalPages }}
              </button>

              <!-- NEXT -->

              <button (click)="nextPage()" [disabled]="
        page >=
        totalPages - 1
      " class="px-4 py-2 rounded-2xl transition
      bg-[#00FF9D]
      text-black
      font-medium
      disabled:opacity-40
      disabled:cursor-not-allowed
      hover:opacity-90">
                Siguiente
              </button>

            </div>

          </div>

        </div>

      </main>

    </div>

  </div>

</div>