@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  font-family: Inter, sans-serif;
}

body {
  background:
    radial-gradient(
      circle at top right,
      rgba(0,255,157,.10),
      transparent 30%
    ),
    #090E13;

  color: #E5E7EB;
}

.fifa-card {
  background: #121821;
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,.08);
  box-shadow:
    0 0 30px rgba(0,255,157,.08);
}